/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600&display=swap');

/* base style*/
body{
    font-family: 'Titillium Web', sans-serif;
}

.helper-div{
    height: 60px;
}

.mentorian-bg{
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}

.banner-image{
    width: 100%;
    height: 400px;
}

h5,.section-title,
.job-title{
    font-weight: 600;
}
.section-title,
.nav-item,
.nav-link{
    position: relative;
    display: inline-block;
}

.nav-link:before,
.section-title:before {
    content: '';
    position: absolute;
    bottom: -0.3rem;
    left: 50%;
    transform: translateX(-50%);
    width: 5px;
    height: 5px;
    visibility: hidden;
    border-radius: 100%;
    background: #c82333;
    transition: all .5s;
}
.section-title:hover:before,
.nav-link:hover:before {
    width: 100%;
    height: 2px;
    bottom: 0px;
    visibility: visible;
    transition: all .5s;
    background: black;
}

/* opportunities section  */
.opportunities .card{
    box-shadow: 0 12px 24px lightgray;
    border-radius: 1.75rem;
    border: 0;
}

.opportunities .card img{
    border-top-left-radius: 1.75rem;
    border-top-right-radius: 1.75rem;
}

.see-more{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom, rgba(128, 128, 128, 0.103) , rgba(0, 0, 0, 0.705));
    border-radius: 1.75rem;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: all .8s ease-out;
}
.see-more a{
    cursor: pointer;
    font-size: 1.2rem;
    
}
.opportunities .card:hover .see-more {
    transform: scaleY(1);

}
/* job section */
.jobs .card{
    height: 300px;
    overflow: hidden;
    box-shadow: 0 12px 24px lightgray;
    border-radius: 1.75rem;
    border: 0;
}

.jobs img{
    height: 90%;
    border-radius: 1.75rem;
}

.jobs-btn{
    position: absolute;
    bottom: .8rem;
    right: .8rem;
}

/* specific job section  */
.job-title{
    color: #c82333;
}


.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    z-index:2;
    color:#ffffff;
    background-color:#c82333;
    border-color:#c82333;
  }

  /* Job section  */
  .company-name:hover{
      text-decoration: none;
  }

  .job-details li{
      margin-bottom: 1rem;
  }
  .job-details .wrapper{
      margin:2rem 0;
  }

  
  @media only screen and (max-width:576px) {
      .section-title{
          font-size: 1.5rem;
      }
  }



  