/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600&display=swap");

/* base style*/
body {
  font-family: "Titillium Web", sans-serif;
  color: #6a7695;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #263b5e;
}

.helper-div {
  height: 60px;
}

/* banner section */
.nav-link {
  padding-bottom: 0;
}
.banner-margin-top {
  margin-top: 58px;
}
.workshop-details-bg {
  background-image: url(../images/workshop-details.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 100px 0;
}
/* .workshop-details-bg h1,
.workshop-details-bg p {
  color: white;
} */

.banner-image {
  width: 100%;
  height: 400px;
}

h5,
.section-title,
.job-title {
  font-weight: 600;
}
.section-title,
.nav-item,
.nav-link {
  position: relative;
  display: inline-block;
}

.nav-link:before,
.section-title:before {
  content: "";
  position: absolute;
  bottom: -0.3rem;
  left: 50%;
  transform: translateX(-50%);
  width: 5px;
  height: 3px;
  visibility: hidden;
  background: #c82333;
  transition: all 0.5s;
}
.section-title:hover:before,
.nav-link:hover:before {
  width: 100%;
  height: 3px;
  bottom: -0.3rem;
  visibility: visible;
  transition: all 0.5s;
 
}

/* opportunities section  */
.opportunities .card,
.workshops .card {
  position: relative;
  background: #fff;
  border: 1px solid #eee;
  box-shadow: 0 3px 6px rgb(0 0 0 / 10%);
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
}

.opportunities .card img,
.workshops .card img {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.see-more {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    to bottom,
    rgba(128, 128, 128, 0.103),
    rgba(0, 0, 0, 0.705)
  );
  border-radius: 6px;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: all 0.8s ease-out;
}

.opportunities .card:hover .see-more {
  transform: scaleY(1);
}
/* job section */
.categories a {
  color: #6a7695;
}
.categories li {
  padding: 5px 10px;
}
.categories li:hover {
  border-radius: 14px;
  background: #c8233313;
}
.categories .card {
  top: 80px;
  position: sticky;
}

.jobs .card {
  min-height: 200px;
  background: #fff;
  padding: 23px;
  margin-bottom: 24px;
  border: 1px solid #eee;
  box-shadow: 0 1px 2px rgb(0 0 0 / 8%);
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
}

.job-list .card:hover,
.workshops .card:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 6px rgb(0 0 0 / 10%);
}

.job-img {
  padding: 1rem;
  width: 100%;
  height: 100%;
}
.job-img img {
  border-top-left-radius: 1.75rem;
  border-bottom-left-radius: 1.75rem;
}

.jobs-btn {
  position: absolute;
  bottom: 0.8rem;
  right: 0.8rem;
}

.company-name:hover {
  text-decoration: none;
}
.company-logo {
  max-width: 110px;
  max-height: 48px;
}
.job-list span {
  font-size: 0.9rem;
}

.job-details li {
  margin-bottom: 1rem;
}
.job-details .wrapper {
  margin: 2rem 0;
}

.job-type {
  display: inline-block;
  padding: 6px 12px;
  /* background: #f8f8f8; */
  background: #c8233313;
  border-radius: 14px;
  font-size: 14px;
  margin-left: 12px;
}

/* specific job section  */
.job-title {
  color: #c82333;
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  z-index: 2;
  color: #ffffff;
  background-color: #c82333;
  border-color: #c82333;
}

/* Workshop list section */
.workshop-image {
  position: relative;
}
.workshops .card {
  min-height: 400px;
  height: 100%;
  box-shadow: 0 1px 2px rgb(0 0 0 / 8%);
}

.workshop-image img {
  min-height: 180px;
  height: 180px;
  width: 100%;
  margin: 0;
}

.see-more-workshops {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.see-more-workshops i {
  transform: scale(0);
  transition: all 0.3s linear;
}

.workshop-image:hover .see-more-workshops {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
.workshop-image:hover .see-more-workshops i {
  transform: scale(1);
}

/* workshop ribbon section  */
.workshop-ribbon {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  min-width: 100px;
  height: 25px;
  background-color: #c82333;
  top: 0.5rem;
  right: -0.5rem;
  color: #fff;
}

.workshop-ribbon::before,
.workshop-ribbon::after {
  content: "";
  position: absolute;
}

.workshop-ribbon::before {
  height: 0.5rem;
  width: 0.5rem;
  background-color: #640610;
  clip-path: polygon(0 100%, 0 0, 100% 0);
  right: 0;
  bottom: -0.5rem;
}

.workshop-ribbon::after {
  width: 25px;
  height: 25px;
  background-color: #c82333;
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
  bottom: 0;
  left: -24px;
}

/* Workshop details  */
.banner-title {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
}
.banner-paragraph {
    font-size: 1.25rem;
  }

/* footer section  */
.new_footer_area {
  background: #fbfbfd;
}

.new_footer_top {
  padding: 50px 0;
  position: relative;
  overflow-x: hidden;
}
.new_footer_area .footer_bottom {
  padding-top: 5px;
  padding-bottom: 50px;
}
.new_footer_top .company_widget p {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: #6a7695;
  margin-bottom: 20px;
}
.new_footer_top .company_widget .f_subscribe_two .btn_get {
  border-width: 1px;
  margin-top: 20px;
}

a:hover,
a:focus,
.btn:hover,
.btn:focus,
button:hover,
button:focus {
  text-decoration: none;
  outline: none;
}

.new_footer_top .f_widget.about-widget .f_list li a:hover {
  color: #c82333;
}
.new_footer_top .f_widget.about-widget .f_list li {
  margin-bottom: 11px;
}
.f_widget.about-widget .f_list li:last-child {
  margin-bottom: 0px;
}
.f_widget.about-widget .f_list li {
  margin-bottom: 15px;
}
.f_widget.about-widget .f_list {
  margin-bottom: 0px;
}
.new_footer_top .f_social_icon a {
  width: 44px;
  height: 44px;
  line-height: 43px;
  background: transparent;
  border: 1px solid #e2e2eb;
  font-size: 24px;
}
.f_social_icon a {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  font-size: 14px;
  line-height: 45px;
  color: #858da8;
  display: inline-block;
  background: #ebeef5;
  text-align: center;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.btn-mentorian {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #c82333;
  border-color: #c82333;
  color: #fff;
  transition: all 0.3s linear;
}

.btn-mentorian:hover {
  background: transparent;
  color: #c82333;
  border-color: #c82333;
}

.new_footer_top .f_social_icon a:hover {
  background: #c82333;
  border-color: #c82333;
  color: white;
}
.new_footer_top .f_social_icon a + a {
  margin-left: 4px;
}
.new_footer_top .f-title {
  margin-bottom: 30px;
  color: #263b5e;
}
.f_600 {
  font-weight: 600;
}
.f_size_18 {
  font-size: 18px;
}

.new_footer_top .f_widget.about-widget .f_list li a {
  color: #6a7695;
}

/* mobile device */
@media only screen and (max-width: 576px) {
  .banner-paragraph {
    font-size: 1rem;
  }
  .banner-title {
    font-size: 2rem;
  }
  .section-title {
    font-size: 1.5rem;
  }
  .job-title {
    font-size: 1.1rem;
  }
  .company-logo {
    max-width: 70px;
    max-height: 35px;
  }
}

/* tablet device */
@media only screen and (min-width: 577px) and (max-width: 992px) {
  .banner-title {
    font-size: 3rem;
  }
  .banner-paragraph {
    font-size: 1.1rem;
  }
  .jobs .card {
    padding: 0.75rem;
  }
  .job-title {
    font-size: 1.2rem;
  }
  .company-name {
    font-size: 0.85rem;
  }
  .company-logo {
    max-width: 80px;
    max-height: 40px;
  }

  .jobs-btn {
    width: 100%;
    position: relative;
    margin-top: 2rem;
    margin-left: 0.8rem;
    display: flex;
    justify-content: center;
  }
  .job-img img {
    border-top-left-radius: 1.75rem;
    border-top-right-radius: 1.75rem;
    border-bottom-left-radius: 0;
  }
}
